@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova';
    src: url('FONTSPRINGDEMO-ProximaNovaBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova';
    src: url('FONTSPRINGDEMO-ProximaNovaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova';
    src: url('FONTSPRINGDEMO-ProximaNovaBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova';
    src: url('FONTSPRINGDEMO-ProximaNovaBlackRegular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

